In [10]:
# Libraries to be used
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [11]:

data = pd.read_csv("./House_assignment.csv")
data.head()

,Unnamed: 0,Area,Rooms,Yard,Floors,Owners,Year,Basement,Attic,Garage,Storage,Guest,Price
0,0,75523,3,0,63,8,2005,4313,9005,956,0,7,7559081.5
1,1,80771,39,1,98,6,2015,3653,2436,128,1,2,8085989.5
2,2,55712,58,0,19,8,2021,2937,8852,135,1,9,5574642.1
3,3,32316,47,0,6,4,2012,659,7141,359,0,3,3232561.2
4,4,70429,19,1,90,7,1990,8435,2429,292,1,4,7055052.0

In [23]:

X = data[["Area", "Rooms", "Floors", "Year", "Basement", "Attic", "Garage", "Storage"]]
Y = data['Price']

model = LinearRegression()
model.fit(X, Y)

LinearRegression()

In [24]:
# calculate the predict value with buildin predict function
model.predict([[80771,39,98,2015,3653,2436,128,1]])

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([8086074.39881923])